/* CSS Document */
body {
    margin: 0;
    background: #1A1A1A;
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    
}

/* Container pertaining to the space on the sides of the entire website */
.container {
    width: 70%;
    margin: 0 auto;
}

#home {
    margin-top: -30px;
    
}

header {
    background: #1A1A1A;
}

.logo {
    float: left;
    padding: 10px;
}

/* Nav-bar styles and edits */
nav ul {
    margin: 0;
    padding: 10px 0;
    list-style: disc;
    justify-content: center;
}

nav li img{
    display: inline-block;
    margin-left: 15px;
    margin-top: -20px;

}

nav li {
    display: inline-block;
    margin-left: 45px;
    padding-top: 25px;
}

nav a {
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
nav a:hover {
    color: #16A966
}

.nav-icons {
    margin-bottom: -10px;
    height: 35px;
    width: 35px;
    }
