/* CSS Document */
body {
    margin: 0 auto;
    background: url('imgs/background-pattern.svg') repeat !important;
    background-color: #1A1A1A !important;
    font-family: 'Roboto', sans-serif;
    font-stretch: normal;
    height: 100%;
    }

/* Container pertaining to the space on the sides of the entire website */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    background-color: #000000;
  }
  
  .logo {
    cursor: pointer;
    height: 80px;
    width: 80px;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    color: #edf0f1;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links li {
    padding: 0px .75em;
    font-size: 1.5em;
  }
  
  .nav__links li a {
    transition: color 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #16A966;
    opacity: 70%;
  }

  #iconSocials {
      height: 35px;
      width: 35px;
  }

/* HERO IMAGE CSS */
.heroContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#name1 {
    color: #16A966;
    content:"\a";
    line-height: 0.25em;
    font-size: 6.25em;
    text-align: left;
}
#name2 {
    color: white;
    content:"\a";
    line-height: 0.25em;
    font-size: 6.25em;
    text-align: left;
}

#name3 {
    color: white;
    line-height: 25px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -35px;
    margin-left: 10px;
}

#nameDescription {
    margin-bottom: 25px;
    color: white;
    text-align: left;
    font-size: 18px;
    margin-left: 10px;
}
.herotext {
    justify-content: center;
    align-items: center;
}
.profile {
    display: flex;
    flex-flow: row wrap;
}

/* Footer CSS Start */
footer {
    background: #000000;
    margin: 0 auto;
    width: 100%;
    height: 80px;
    text-align: center;
    text-justify: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer ul {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: rgb(0, 0, 0);
    color: white;
    text-decoration: none;
    font-size: 18px;
}

footer li {
    margin: 0 auto;
    display: inline-block;
    padding: 10px;
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    margin-left: 18px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #16A966;
    text-decoration: none;
}


/* About me CSS */
.container {
    display: grid;
    max-width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1.9fr 0.2fr 0.9fr; 
    gap: 5px 5px; 
    grid-template-areas: 
    "Hero-Image Hero-Image Hero-Image About-Me About-Me About-Me"
    "Hero-Image Hero-Image Hero-Image Design-Skills UX-UI-Skills Hobbies"
    "Hero-Image Hero-Image Hero-Image design-skill-list uxui-list hobbies-list"; 
  }
  
.Hero-Image { grid-area: Hero-Image;
                grid-row: span;
                grid-column: span;
                display: flex;
                justify-items: right;
                align-self: right;
                padding: 10px;
 }
  
.About-Me { grid-area: About-Me;
            color: #ffffff; }
  
.Design-Skills { grid-area: Design-Skills;
                 color: #ffffff;
                background-color: #16A966;
                justify-content: center;
                text-align: center;
                 }
  
.UX-UI-Skills { grid-area: UX-UI-Skills;
                color: #ffffff;
                background-color: #16A966;
                justify-content: center;
                text-align: center;
                 }
  
.Hobbies { grid-area: Hobbies;
           color: #ffffff;
           background-color: #16A966;
           justify-content: center;
           text-align: center;
            }
  
.design-skill-list li { grid-area: design-skill-list;
                     color: #ffffff;
                     justify-content: center;
                     align-items: center;
                     text-align: center;
                     list-style-type: none;
                     font-size: 1.25em;
                     margin-right: 32px;
                     }
.uxui-list li { grid-area: uxui-list;
             color: #ffffff;
             justify-content: center;
             align-items: center;
             text-align: center;
             list-style-type: none;
             font-size: 1.25em;
             margin-right: 32px }

.hobbies-list li { grid-area: hobbies-list;
                color: #ffffff;
                justify-content: center;
                align-items: center;
                text-align: center;
                list-style-type: none;
                font-size: 1.25em;
                margin-right: 32px }

 /* ProjectsCSS */
 * {
    box-sizing: border-box;
  }
 #projectBody {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vw;
    overflow: hidden;
    margin: 0;

  }

 #projectContainer {
        display: flex;
        width: 90vw;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
      }
      
      .panel {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 75vh;
        border-radius: 50px;
        color: #fff;
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        -webkit-transition: all 700ms ease-in;
      }
      
      .panel h3 {
        font-size: 24px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        margin: 0;
        opacity: 0;
      }
      
      .panel.active {
        flex: 5;
      }
      
      .panel.active h3 {
        opacity: 1;
        transition: opacity 0.3s ease-in 0.4s;
      }
      
      @media (max-width: 480px) {
        .container {
          width: 100vw;
        }
      
        .panel:nth-of-type(4),
        .panel:nth-of-type(5) {
          display: none;
        }